.properties-container {
    padding: 20px;
    margin-top: 60px;
  }
  
  .filters-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .search-input, .bhk-filter, .sort-order {
    padding: 10px;
    font-size: 16px;
  }
  .search-input{
    border: 1px solid;
    width: 400px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
  }
  
  .image-container {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .image-overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: #fff;
  }
  
  .prev-button, .next-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 5px 10px;
  }
  
  .amenity-button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #226c7d;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }
  
  