 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
 html {
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    display: none;
}
 body {
     margin: 0px;
     padding: 0px;
     background-color: #ffffff;
     font-family: 'Montserrat', sans-serif;
     
}

 * {
     box-sizing: border-box;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 button {
     outline: none;
     border: none;
 }

 input {
     outline: none;
     border: none;
 }
 .logo img {
     width: 150px;
 }

 .header {
     width: 100%;
     height: 968px;
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: linear-gradient(rgba(199, 193, 193, 0.123), rgba(197, 191, 191, 0.356)), url("./images/header-bg.png");
 }

 nav {
     display: flex;
     position: fixed;
     margin: 0px;
     justify-content: space-around;
     align-items: center;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 1;
     box-shadow: 0 2px 2px #888;
     background-color: #FFFFFF;
     margin-top: 0%;
 }

 .logo {
     display: flex;
     flex-direction: column;
     align-items: end;
     color: #236c7d;
     
 }

 .logo h2 {
     font-size: 1.7rem;
     margin: 0;
     padding: 0px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    color: #FFD700;
 }

 .logo p {
     font-size: 1.3rem;
     margin: 0;
     font-weight: bold;
    text-shadow: 2px /2px 2px rgba(0, 0, 0, 0.5);
     
 }

 nav ul {
     display: flex;
 }

 .active {
     background-color: #236c7e;
     color: rgb(255, 255, 255);
     transition: all ease 0.2s;
 }

 nav ul li a {
     height: 40px;
     line-height: 43px;
     margin: 3px;
     padding: 0px 22px;
     display: flex;
     font-size: 0.8rem;
     text-transform: uppercase;
     font-weight: 500;
     color: #242424;
     letter-spacing: 1px;
     border-radius: 3px;
     transition: 0.2s ease-in-out;
     text-decoration: none;
 }

 nav ul li a:hover {
     background-color: #064757;
     color: #FFFFFF;
     transition: all ease 0.2s;
 }

 nav .menu-btn,
 .menu-icon {
     display: none;
 }
 ul.menu{
    margin: 9px;
 }

 .intro {
     font-family: 'Montserrat';
     width: 500px;
     position: absolute;
     left: 16%;
     top: 50%;
     transform: translate(-20%, -50%);
 }

 .intro span {
     color: #fcc100;
 }

 .intro .details {
     color: #1e4f5c;
 }

 .intro h1 {
     font-family: 'Montserrat';
     font-size: 46px;
     margin: 0px;
     letter-spacing: 3px;
     color: #236c7e;
 }

 .intro p {
     color: #064757;
     font-weight: 500;
 }

 .header-btn {
     width: 110px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #236c7e;
     box-shadow: 5px 10px 30px rgba(2, 82, 255, 0.137);
     border-radius: 10px;
     color: #ffffff;
 }

 .header-btn:hover {
     background-color: #04afda;
     transition: all ease 0.5s;
     color: #ffffff;
     box-shadow: 5px 0px 30px rgba(2, 154, 255, 0.39);
 }

 .container {
     max-width: 1140px;
     margin: 0 auto;
     padding: 0 20px;
 }

 
 body {
     font-size: 14px;
    
 }

 @media (min-width: 1200px) {
     .container {
         max-width: 1200px;
         margin: auto;
     }

     nav ul li a {
         font-size: 1rem;
     }

     nav {
         padding: 0 20px;
     }
 }
 @media (min-width: 768px) {
     .header {
         height: 600px;
         
     }

     .logo h1 {
         font-size: 2.5rem;
        
     }

     .logo h3 {
         font-size: 1.2rem;
        
     }

     .intro {
         width: 80%;
         left: 10%;
     }

     .intro h1 {
         font-size: 36px;
     }

     .intro p {
         font-size: 16px;
     }

     .header-btn {
         width: 130px;
     }
         .amenityCard {
             width: 100px;
             height: 100px;
         }
    
         .amenityCard .imgContainer img {
             width: 20px;
             height: 20px;
         }
    
         .amenityCard .textContainer h3 {
             font-size: 14px;
         }
 }

 
 @media (min-width: 1024px) {
     .header {
         height: 968px;
     }

     .logo h1 {
         font-size: 3rem;
     }

     .logo h3 {
         font-size: 1.5rem;
     }

     .intro {
         width: 500px;
         left: 16%;
     }

     .intro h1 {
         font-size: 46px;
     }

     .intro p {
         font-size: 18px;
     }

     .header-btn {
         width: 150px;
     }
 }
 .amenityCard {
     width: 200px;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     transition: all 0.3s;
     cursor: pointer;
     border-bottom: 5px solid transparent;
 }

 .amenityCard:hover {
     border-bottom: 5px solid #FFD700;
     transition: all 0.3s ease-in-out;
 }

 .imgContainer {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f4d735;
     width: fit-content;
     border-radius: 10px;
     padding: 10px 20px;
 }

 .amenityCard .imgContainer img {
     width: 60px;
     height: 60px;
     object-fit: contain;
 }

 .amenityCard .textContainer {
     margin-top: 10px;
     text-align: center;
 }

 .amenityCard .textContainer h3 {
     font-size: 16px;
     font-weight: 500;
     color: #0d0d0d;
 }

 .amenitiesSection {
     width: 100%;
     margin-top: 100px;
     padding: 50px 20px;
 }

 .amenitiesTextContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }

 
 .amenitiesTextContainer h3 {
     color: #f5f5f5;
     font-size: 18px;
     font-weight: 600;
     background-color: #1e4f5c;
     padding: 8px 20px;
     border-radius: 25px;
     text-align: center;
 }

 .amenitiesTextContainer p {
     color: #333333;
     font-size: 28px;
     line-height: 40px;
     width: 100%;
     max-width: 90%;
     text-align: center;
     margin-top: 15px;
 }
 .amenitiesCardContainer {
     width: 100%;
     max-width: 1240px;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-between;
     padding: 20px;
     margin-top: 50px;
 }


 